img{
    height: 500px;
}
h1{
    margin-bottom: 5px;
}
h6{
    margin-top: 5px;
    margin-bottom: 0;
}
 
h2{
    margin-left: 10px;
}
body{
    background-color: #c7e4f1;
}
nav{
 position:relative;
}
/************************* pseudo class **********************/
        .text:hover {
            background-image: url(images/as4.png);
        }
        .boxes:hover .txt {
            opacity: 1;
          }
/* **********pseudo-element *************/
body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/as4.jpg);
    background-repeat:repeat;
    opacity: 0.1;
    z-index: -1;
  }


/******************** class selector********************** */
.boxes{
    border-radius: 20%;
    border-style: dashed;
    height: 150px;
    width: 300px;
    margin: 70px;
    text-align: center;
    display: inline-block;
    /* background-color: rgb(51, 159, 202); */
    background-image: url(as6.jpg);
     position: relative;
}
.stars{
    font-size: smaller;
}
.pips{
    margin: 35px;
    
}
.row{
    width: 100%;
}
.txt{
    
  position: absolute;
  border-radius: 25%;
  bottom: 00;
  left: 0px;
  /* background-color:rgb(51, 159, 202); */
  /* background-image: url(images/as3.png); */
  background-image: url(as6.jpg);
  color: #1a0505;
  padding: 10px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s;
}
.title-bar{
    background-color:#5091b4;
    height: 100%;
    width: 100%;
    display: flex;
    color: rgb(1, 41, 53); 
}
.head{
    position: relative;
    height: 500px;
}
.container{
    width: 100%;
    height: 500px;
   
}
.text{
    position: relative;
			text-align: center;
			color: #e8ebec;
			font-size: 2em;
			font-weight: bold;
			line-height: 1.2;
			text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
            background-image: url(images/as.png);
            background-position: center;
            background-color: rgb(11, 50, 77);
            transition: background-image 0.5s ease-in-out;
        }
